#total {
    background-color: rgb(26, 23, 44);
    color: rgb(34, 8, 63);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;

}

.form {
    display: flex;
    flex-direction: column; 
    width: 700px; 
    height: auto;
    padding: 20px; 
    border: 1px solid rgb(153, 145, 197);
    border-radius: 10px;
    background-color: rgb(208, 190, 243);;
}
.foto {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;      
}

.foto:hover {
    transform: scale(1.2); 
    background-color: rgb(240, 240, 240); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.n1{
    transition: transform 0.3s ease; 
}
.n1:hover {
    transform: scale(1.2); 
}

.nome {
    text-align: center;
}

.barra {
    padding: 10px;
    background-color:rgb(153, 145, 197);
    color: #fff;
    text-decoration:none;
    border: 1px solid rgb(153, 145, 197);
    border-radius: 10px;
}

.projetos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.projetos img {
    width: 200px; 
    height: auto;
    border: solid 5px rgb(240, 240, 240);
    border-radius: 5%;
}
.projetos img:hover {
    transform: scale(1.2); 
    background-color: rgb(240, 240, 240); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#rodape{
    width: 650px;
    height: auto;
}
.texto{
    background-color: rgb(226, 211, 243);
    border-radius: 5px;
    text-align: justify;
    padding: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.texto:hover {
    background-color: rgb(240, 240, 240); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}


.texto4 {
    margin-left: 5%;
    color: rgb(90, 60, 124);
    font-size: 20px;
}


.mail{
    text-decoration:none;
    color:  rgb(228, 36, 36);
    padding: 10px;
}
.zap{
    text-decoration:none;
    color:  rgb(21, 198, 5);
    padding: 10px;
}
.linkedin{
    text-decoration:none;
    color:  rgb(27, 17, 205);
    padding: 10px;
} 

.redsocial {
    text-decoration:none;
    color:  rgb(34, 8, 63);
    padding: 10px;
}
